@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.focus {
    justify-content: center;
    align-content: center;
}

* {
    font-family: "Roboto Medium", serif;
}

.card {
    box-shadow: 0.2vw 0.2vh 0.3vw rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    max-width: 20vw;
    justify-content: center;
    align-content: center;
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0.1vw 0 0.2vw 0;
    background-color: #000;
    color: #fff;
}

footer {
    margin: 0;
    padding: 0.01vw 0 0.01vw 0;
    background-color: #000;
    color: #fff;
}

header h1 {
    display: inline;
    padding: 0 0.8vw 0 1vw;
}

header nav a {
    display: inline;
    text-decoration: none !important;
    color: #fff;
}

nav ul {
    margin: 0;
    padding: 0;
}

a:hover {
    color: rgba(211, 211, 211);
}

a:active {
    text-shadow: 0.1vh 0.1vw 0.1vh 0.1vw grey;
}

a:after {
    color: rgba(211, 211, 211);
}

nav {
    position: relative;
    margin: 0;
    float: right;
    top: 50%;
    padding: 1vh 2vw 0 2vw;
}

li {
    display: inline-block;
    margin: 0 0.25vw 0 0.25vw;
    padding: 0;
    font-size: 1.3vw;
}

main {
    margin: 1vw;
}